In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score

In [36]:
data=pd.read_csv("iris.csv")
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [37]:
x=data.iloc[:,:4]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [38]:
y=data.iloc[:,-1]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [40]:
classifier=KNeighborsClassifier(n_neighbors=5)

In [41]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [42]:
y_pred=classifier.predict(x_test)

In [43]:
y_pred

array(['Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Setosa', 'Virginica', 'Versicolor',
       'Setosa', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Virginica', 'Virginica', 'Setosa', 'Versicolor',
       'Setosa', 'Virginica', 'Versicolor', 'Setosa', 'Versicolor',
       'Versicolor', 'Virginica', 'Versicolor', 'Virginica', 'Setosa'],
      dtype=object)

In [44]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[ 8,  0,  0],
       [ 0, 12,  2],
       [ 0,  0,  8]], dtype=int64)

ac=accuracy_score(y_test,y_pred)
ac

In [45]:
ac=accuracy_score(y_test,y_pred) 
ac

0.9333333333333333