In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.naive_bayes import GaussianNB

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [14]:
data=pd.read_csv('iris.csv')

In [15]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [16]:
x=data.iloc[:,:4]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [18]:
y=data.iloc[:,-1]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [20]:
x_train.head()

     sepal.length  sepal.width  petal.length  petal.width
52            6.9          3.1           4.9          1.5
141           6.9          3.1           5.1          2.3
27            5.2          3.5           1.5          0.2
11            4.8          3.4           1.6          0.2
43            5.0          3.5           1.6          0.6

In [23]:
classifier=GaussianNB()

NameError: name 'GaussianNB' is not defined